body {
  font-family: 'Muli', sans-serif;
}
.nav {
  padding: 20px 0px;
}
.logo {
  font-size: 22px;
  color: #041122;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
.logo:hover {
  color: #f72464;
  text-decoration: none;
}
.navigation {
  font-size: 15px;
  font-weight: 600;
  padding-top: 5px;
}
.navigation__list {
  padding: 0px;
}
.navigation__item {
  list-style-type: none;
  display: inline;
  margin-right: 30px;
}
.navigation__link {
  color: #52575d;
  text-decoration: none;
}
.navigation__link:hover {
  color: #f72464;
  text-decoration: none;
}
.cart {
  padding-top: 5px;
  color: #52575d;
  position: relative;
}
.cart__number {
  width: 19px;
  height: 19px;
  background-color: #f72464;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-top: 1px;
  position: absolute;
  left: 5px;
  top: 20px;
}
.header {
  position: relative;
  height: 700px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.header::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 45%;
  top: 0;
  background-color: #f9f9f9;
  background-image: url(./img/bg/bg1.jpg);
  background-repeat: no-repeat;
  z-index: -1;
}
.header__content {
  width: 700px;
}
.header__title {
  color: #222222;
  font-size: 80px;
  font-family: 'Lora', serif;
  line-height: 1.25;
  margin-bottom: 25px;
}
.header__description {
  color: #52575d;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 50px;
}
.header__button {
  font-size: 20px;
  color: #ffffff;
  background-color: #f72464;
  font-family: 'Lora', serif;
  line-height: 1;
  text-decoration: none;
  height: 50px;
  display: inline-block;
  padding: 14px 45px;
  border-radius: 3px;
  transition: all 0.2s ease-in;
}
.header__button:hover {
  background-color: #da0f4d;
  text-decoration: none;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
  color: #ffffff;
}
.section {
  padding: 30px 0px;
}
@media (min-width: 900px) {
  .section {
    padding: 100px 0px;
  }
}
.title {
  font-size: 35px;
  color: #222222;
  font-family: 'Lora', serif;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5px;
}
.subtitle {
  font-size: 12px;
  color: #919191;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 900px) {
  .subtitle {
    margin-bottom: 100px;
  }
}
.card {
  font-family: 'Lora', serif;
  text-align: center;
  margin-bottom: 50px;
}
.card__image {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.card__image img {
  max-width: 100%;
}
.card__title {
  color: #222222;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.card__price {
  color: #f72464;
  font-size: 13px;
  font-weight: 600;
}
.card__price span {
  color: #838b8f;
  text-decoration: line-through;
  margin-right: 5px;
}
.card__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}
.card__hover:hover {
  opacity: 1;
}
.card__button {
  font-size: 20px;
  background-color: #f72464;
  color: #ffffff;
  line-height: 1;
  text-decoration: none;
  width: 120px;
  height: 40px;
  padding-top: 10px;
  display: block;
  border-radius: 3px;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.25);
  transition: all 0.2s ease-in;
  margin-bottom: 12px;
}
.card__button:hover {
  background-color: #da0f4d;
  text-decoration: none;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
  color: #ffffff;
}
.button-outline {
  border-color: #f72464;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  width: 220px;
  font-size: 14px;
  font-family: 'Lora', serif;
  color: #919191;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding-top: 12px;
  display: block;
  margin: 0 auto 0 auto;
  transition: all 0.2s ease-in;
}
.button-outline:hover {
  border-color: #f72464;
  background-color: #f72464;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.adv-wrapper {
  height: 185px;
  background-color: #000000;
}
.adv-bg__1 {
  background-image: url(/img/bg/bg3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.adv-bg__2 {
  background-image: url(/img/bg/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.adv-content-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.adv__title {
  font-size: 60px;
  font-family: 'Lora', serif;
  color: #ffffff;
  line-height: 1.2;
}
.adv__button {
  font-size: 22px;
  font-family: 'Lora', serif;
  color: #ffffff;
  line-height: 1;
  text-decoration: none;
  border-radius: 3px;
  background-color: #f72464;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.25);
  height: 50px;
  padding: 15px 60px;
  transition: all 0.2s ease-in;
}
.adv__button:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #da0f4d;
}

.blog {
  margin-bottom: 50px;
}
@media (min-width: 900px) {
  .blog {
    margin-bottom: 25px;
  }
}
.blog__title {
  color: #222222;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7;
  margin: 10px 0px;
}
.blog__desc {
  color: #898989;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 10px;
}
.blog__read-more {
  color: #222222;
  font-family: 'Lora', serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  position: relative;
}
.blog__read-more::after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: -20px;
  top: 2px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}
.blog__read-more:hover {
  color: #f72464;
  text-decoration: none;
}
.button-outline {
  margin-bottom: 50px;
}
@media (min-width: 900px) {
  .button-outline {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.description p {
  font-size: 15px;
  color: #898989;
  line-height: 1.7;
  text-align: center;
  max-width: 520px;
}
.subscribe {
  display: flex;
  justify-content: center;
}
.subscribe__input {
  color: #c4c4c4;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  border-width: 1px;
  border-color: #da0f4d;
  border-style: solid;
  border-radius: 3px;
  height: 38px;
  width: 248px;
  margin-right: 10px;
  padding: 0px 10px;
}
.subscribe__button {
  font-size: 15px;
  color: #ffffff;
  background-color: #f72464;
  line-height: 1;
  text-decoration: none;
  width: 120px;
  height: 40px;
  display: block;
  border-radius: 3px;
  transition: all 0.2s ease-in;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
}
.subscribe__button:hover {
  background-color: #da0f4d;
  color: #ffffff;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
  text-decoration: none;
}

.footer {
  background-color: #000000;
  padding: 20px 0 25px;
  text-align: center;
}
.footer-nav {
  margin-bottom: 20px;
}
.footer-nav__link {
  font-size: 13px;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.footer-nav__link:hover {
  color: #f72464;
  text-decoration: none;
}
.footer-nav__list {
  padding: 0px;
}
.footer-nav__item {
  list-style-type: none;
  display: inline-block;
  margin-right: 35px;
}
.footer-nav__item:last-child {
  margin-right: 0px;
}
.footer-social {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social__list {
  padding: 0px;
}
.footer-social__item {
  list-style-type: none;
  display: inline;
  margin-right: 25px;
}
.footer-social__item:last-child {
  margin-right: 0px;
}
.footer-social a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.footer-social a:hover {
  color: #f72464;
  text-decoration: none;
}
.footer p {
  color: #898989;
  font-size: 12px;
}

.mt-60 {
  margin-top: 60px;
}
.mb-100 {
  margin-bottom: 100px;
}
