/*

font-family: 'Muli', sans-serif;
font-family: 'Lora', serif;

*/

body {
  font-family: "Muli", sans-serif;
}
.nav_wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.block-example {
  background-color: blueviolet;
  padding: 15px;
}
.logo {
  font-size: 22px;
  color: #041122;
  font-weight: 800;
  text-transform: uppercase;
}
.navigation {
  font-size: 15px;
  font-weight: 600;
  padding-top: 5px;
}
.nav__link {
  color: #52575d;
  text-decoration: none;
  margin-right: 30px;
}
.nav__link:hover,
.nav__link:active,
.nav__link:focus {
  color: #f72464;
  text-decoration: none;
}
.cart {
  padding-top: 5px;
  color: #52575d;
  position: relative;
}
.cart__number {
  width: 19px;
  height: 19px;
  background-color: #f72464;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-top: 1px;
  position: absolute;
  left: 5px;
  top: 20px;
}

.header {
  position: relative;
  height: 700px;
  /* background-color: #fcfafb; */
  overflow: hidden;
  display: flex;
}
.header .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.header__bg {
  position: absolute;
  background-color: #fcfafb;
  height: 100%;
  width: 100%;
  left: 45%;
  top: 0;
  overflow: hidden;
  background-image: url(/img/bg/bg1.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  z-index: -1;
}
.header__content {
  width: 750px;
}
.header__title {
  color: #222222;
  font-size: 80px;
  font-family: "Lora", serif;
  line-height: 1.25;
  margin-bottom: 25px;
}
.header__desk {
  color: #52575d;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
}
.header__button {
  background-color: #f72464;
  font-size: 20px;
  font-family: "Lora", serif;
  color: #fff;
  padding: 14px 45px 0px 45px;
  height: 50px;
  line-height: 1;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.5);
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.header__button:hover {
  background-color: #da0f4d;
  text-decoration: none;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
  color: #fff;
}
.section {
  padding: 100px 0px 100px 0px;
}
.title {
  font-size: 35px;
  color: #222222;
  font-family: "Lora", serif;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}
.subtitle {
  font-size: 12px;
  color: #919191;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
}
/*                  Product                       */
.section {
}
.container {
}
.title {
}
.subtitle {
}
.card {
  font-family: "Lora", serif;
  text-align: center;
}
.card__image {
  margin-bottom: 20px;
}
.card__title {
  color: #222222;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}
.card__price {
  font-size: 13px;
  color: #f72464;
  font-weight: 600;
}
.card__price span {
  color: #838b8f;
  text-decoration: line-through;
  margin-right: 5px;
}
